
footer {
    padding-top: 10px;
    margin-top: 10px;
    width: 100%;
    text-align: center;
    height: 50px;
    background-color:#F9F2EB;
    color: black;
    text-align: center;
    font-family: 'DM Serif Display', serif;
    border: 1px solid #ECD7C3;
} 