* {
    text-align: center;
    font-family: 'DM Serif Display', serif;

}
  .carousel-inner, .carousel-item { width:1250px; height:700px; }

  
  .product1, .product2
       * {
        margin: 0;
        padding: 1;
        box-sizing: border-box;
    }

    .img-fluid {
        max-width: 20%;
        width: 20%;
        display: block;
        height: 05%;
       
    }

    /*.container {
        margin: auto;
        max-width: 120px;
        display: flex;
        flex-wrap: wrap;
        background-color: #f6f6f6;
        padding: 1rem;
      
    }*/

    .container .product1, .product2, .product3{
      font-family: arial;
      font-size: 24px;
      margin: 15px;
      width: 515px;
      height: 100px;
      flex: 0 0 40%;
      padding: 0 1rem;
        
    }

    .container .product1, .product2, .product3 {
        background-color: white;
        box-shadow: 0px 0px 15px 15px #ddd;
        height: 100%;
   
    }

    .container .product1, .product2, .product3 h1, .bg-white {
     
        font-size: 1rem;
        padding: 0.9rem 1rem .1rem 0;
        border-bottom: 2px solid brown;
        display: inline-block;
        margin: 0 0 0.8rem 0.8rem;
        text-transform: uppercase;
        
    }

    .container .product1, .product2, .product3 {
        font-size: 1rem;
        padding: 0 1rem 0.2rem 0.4rem
    }
    
  













    /* NEW IDEA FOR ANIMATED BUTTONS*/

/*  a:hover{
      background: #03e9f4;
      color: #050801;
      box-shadow: 0 0 5px #c48e7c,
                  0 0 25px #03e9f4,
                  0 0 50px #03e9f4,
                  0 0 200px #03e9f4;
       -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
  }
  a:nth-child(1){
      filter: hue-rotate(270deg);
  }
  a:nth-child(2){
      filter: hue-rotate(110deg);
  }
  a span{
      position: absolute;
      display: block;
  }
  a span:nth-child(1){
      top: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background: linear-gradient(90deg,transparent,#03e9f4);
      animation: animate1 1s linear infinite;
  }
  @keyframes animate1{
      0%{
          left: -100%;
      }
      50%,100%{
          left: 100%;
      }
  }
  a span:nth-child(2){
      top: -100%;
      right: 0;
      width: 2px;
      height: 100%;
      background: linear-gradient(180deg,transparent,#03e9f4);
      animation: animate2 1s linear infinite;
      animation-delay: 0.25s;
  }
  @keyframes animate2{
      0%{
          top: -100%;
      }
      50%,100%{
          top: 100%;
      }
  }
  a span:nth-child(3){
      bottom: 0;
      right: 0;
      width: 100%;
      height: 2px;
      background: linear-gradient(270deg,transparent,#03e9f4);
      animation: animate3 1s linear infinite;
      animation-delay: 0.50s;
  }
  @keyframes animate3{
      0%{
          right: -100%;
      }
      50%,100%{
          right: 100%;
      }
  }
  
  
  a span:nth-child(4){
      bottom: -100%;
      left: 0;
      width: 2px;
      height: 100%;
      background: linear-gradient(360deg,transparent,#03e9f4);
      animation: animate4 1s linear infinite;
      animation-delay: 0.75s;
  }
  @keyframes animate4{
      0%{
          bottom: -100%;
      }
      50%,100%{
          bottom: 100%;
      }
  }
  */